<div class="row">
    <div class="col-6">
        <form>
            <div class="mb-3">
                <label for="matricula" class="form-label">MATRICULA</label>
                <input type="text" placeholder="Matrícula" class="form-control">
            </div>
            <div class="mb-3">
                <label for="nombre" class="form-label">NOMBRE</label>
                <input type="text" placeholder="Nombre" class="form-control">
            </div>
            <div class="mb-3">
                <label for="apaterno" class="form-label">APELLIDO PATERNO</label>
                <input type="text" placeholder="Apaterno" class="form-control">
            </div>
            <div class="mb-3">
                <label for="amaterno" class="form-label">APELLIDO MATERNO</label>
                <input type="text" placeholder="Amaterno" class="form-control">
            </div>
            <div class="mb-3">
                <label for="correo" class="form-label">CORREO ELECTRÓNICO</label>
                <input type="text" placeholder="Correo" class="form-control">
            </div>
        </form>
    </div>
    <div class="col-6"></div>
</div>
